<h2>{{model.title}}</h2>
{{#link-to "news" class="navbar-brand"}}See all{{/link-to}}
      <div>
            <div>
                <h3>{{model.title}}</h3>
                <p>{{model.body}}</p>

            </div>

</div>
{{outlet}}
